/* */

body {
	background: #15202b; 
}

header{
	width: 100%;
	height: 130px;
	position: relative;
	animation: float 6s ease-out ;
	}

	@keyframes float{

	    0%{
	        transform: translatey(-120px);

	    }
	    50%{
	        transform: translatey(0px);

	    }
	    100%{

	        transform: translatey(0px);
	    }
}

.logo{
	position: absolute;
	bottom: 0;
	margin-left: 15.5%;
	margin-bottom: 1%;
}

.frase_logo{
	position: absolute;
	bottom: 0;
	margin-left: 18%;
	margin-bottom: 2%;
	color: #1c2c3c;
}

.caixa_principal{
	width: 70%;
	max-height: 542px;
	position: relative; /* definando posição relativa para conseguir usar a posição absoluta 
						nos elementos dentro dessa divisão, sem que eles saiam da mesma. */
	margin-right: auto;  /* centralizando */
	margin-left: auto;  /* centralizando */

}

textarea {
  resize: none;
  background: #354457;
  border: none;
  border-radius: 13px;
  font-size: 24px;
  outline: none;
  color: #d2d5d7;
}

.texto_inicial{
	width: 60%;
	transition: 1s all;
}

.texto_inicial::selection {
  background-color: #15202b;
  color: #4f637d;
}

.texto_inicial:hover{
	border: 1px solid #354457;

}

.texto_inicial::-webkit-input-placeholder{  /* modificando o texto do placeholder */
  	font-size: 20px;
  	color: #d2d5d7;
  	padding-top: 20px;
  	text-align: center;
}

.conteiner_img{
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
}

.texto_final{
	width: 100%;
}

.obersevacao{
	font-size: 20px;
	margin-top: 1%;
	margin-left: 1%;
	color: #a6a4a4;
}

.img_final{
	position: absolute;
	width: 90%;
	text-align: center;
	padding-left: 5%;
	padding-top: 18%;
}

.img_final p{
	color: #d2d5d7;
	font-size: 22px;
	margin-top: 5%;
}

#copiar{
	background: #166498;
	position: absolute;
	bottom: 0;
	left: 50%;
    margin-left: -77px;
    margin-bottom: 10px;
	padding: 30px 45px;
	font-size: 22px;
	border: none;
  	border-radius: 13px;
  	color: #d2d5d7;
}

.obersevacao::first-letter{
	color: #d76046;
}

.botoes{
	margin-left: 18%;
	width: 70%; /* definindo tamanho da div */

}

.encriptografar, .desencriptografar{
	font-size: 22px;
	border: none;
  	border-radius: 13px;
  	color: #d2d5d7;
}

.encriptografar{
	background: #166498;
	padding: 30px 61.5px;
	margin: 3%;
}


.desencriptografar{
	background: #4f637d;
	padding: 30px 43px;
	margin: 3%;
}

.desencriptografar:hover, .encriptografar:hover, #copiar:hover{
 	background: #1888d3;
 	transition: 0.5s all;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}

footer p {
	padding: 10px;
	color: #a6a4a4;
}

footer a {
	text-decoration-color: #4f637d;
}

.ocultar{
	display: none;
}

@media (max-width: 500px){

header{
	height: 90px;
	
}


.logo{
  left: 50%;
  margin-left: -5%;
  bottom: auto;
  margin-top: 5%;
}

.frase_logo{
	display: none;
}

.caixa_principal{
	width: 100%;
	max-height: none;
	display: block;
	position: static; /* definando posição relativa para conseguir usar a posição absoluta 
						nos elementos dentro dessa divisão, sem que eles saiam da mesma. */
	margin-left:; 
	margin-bottom: 

}

.obersevacao{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 1%;
	margin-left: 1%;
	color: #a6a4a4;
}

.conteiner_img{
	width: auto;
	position: relative;

}

.texto_inicial, .texto_final{
  width: 100%;
  height: 500px;
  margin: 10px;
}

.texto_inicial{
	width: 94%;
}

.img_final {
  position: absolute;
  width: 60%;
  padding-left: 0;
  padding-top: 50px;
  margin-right: auto;
  margin-left: 20%;
}
.imagem_texto{
	width: 80%;
}

#copiar {
  background: #166498;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -73px;
  margin-bottom: 20px;
  padding: 7% 10%;
  font-size: 22px;
  border: none;
  border-radius: 13px;
  color: #d2d5d7;
}

.botoes {	
	position: absolute;
	margin-left: 0;
	margin-top: 20px;
	width: 100%;
	bottom: auto;
	top: 350px;
	text-align: center;
}

.encriptografar{
	background: #166498;
	padding: 5% 10%;
}


.desencriptografar{
	background: #4f637d;
	padding: 5% 10%;
}

footer{
	width: 100%;
	height: 80px;
	position: static;
}