footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
}

footer p {
	padding: 10px;
    font-size: 0.9em;
	color: #a6a4a4;
}

footer a {
	text-decoration-color: #4f637d;
}

@media (max-width: 768px){

    footer{
        width: 100%;
        min-height: 0;
        position: static;

    }
}

@media (max-height: 620px){
    footer p{
        padding: 2px;
    }
}