:root{
	/* cores */
	--text-container-collor: #354457;

	/* medidas */
	--height-main: 70vh;
}

html{
	font-size: 1.4em;
}

body {
	background: #15202b; 
	display: grid;
	grid-template-areas: 
		"cabecalho" 
		"conteudo"
		"rodape";
	grid-template-columns: auto;
	grid-template-rows: 15vh var(--height-main) 15vh;
}

.cabecalho {
    grid-area: cabecalho;
}

.caixa_principal{
	grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}

/* Tela menor que 1024px */

@media (max-width: 1024px) {
    html{
        font-size: 1.2em;
    }
}

/* Tela menor que 768px */

@media (max-width: 768px) {
    :root{
		/* medidas */
		--height-main: 35vh;
	}

	html{
        font-size: 0.9em;
    }

	body{
		grid-template-rows: 8vh 84vh 8vh;
	}
}