:root{
	/* cores */
	--text-container-collor: #354457;

	/* medidas */
	--height-main: 70vh;
}

html{
	font-size: 1.4rem;
}

body {
	background: #15202b; 
	display: grid;
	grid-template-areas: 
		"cabecalho" 
		"conteudo"
		"rodape";
	grid-template-columns: auto;
	grid-template-rows: 15vh var(--height-main) 15vh;
}

.cabecalho {
    grid-area: cabecalho;
}

.caixa_principal{
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	grid-area: conteudo;
	display: grid;
    grid-template-columns: "esquerda","direita";
    grid-template-columns: 60% 32%;
	grid-template-rows: var(--height-main);
	gap: 8%;
}

.rodape {
    grid-area: rodape;
}